.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
**/dist
*/dist
*/dist
**/dist
.markdown/preguntas.md
.markdown/tareas.md
**/*-lock.*
**/pnpm-lock.yaml
**/yarn.lock
**/package-lock.json
tareas/